{% extends 'base.html' %}



{% block content %}



 <div class="p-4 sm:ml-64">
    <div class="">
       <div class="grid grid-cols-1 mt-16 md:grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
        {% for elem in data %}
        <div class="flex m-2 w-full h-max bg-white border border-gray-200 rounded-lg hover:border-gray-100 hover:bg-white-300 hover:shadow-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-lg max-w-24 w-24 sm:w-40 xl:h-60 lg:h-60 h-36 sm:h-48" src="{{ elem.poster_url }}">
            <div class="p-1">    
                <p class="text-sm sm:text-lg w-full font-semibold">{{elem.title}} <span class=" font-normal">/ {{elem.title_orig|truncatechars:70}}</span></p>
                <p class="text-sm sm:text-sm w-full font-semibold">
                    <span class=" rounded-lg text-white bg-emerald-4s00 font-normal">{{elem.genres}}</span>
                </p>
                {% if elem.description is None %}
                <p class="text-sm sm:text-lg w-full font-medium">Нет описания</p>
                {% else %}
                <p class="text-sm sm:text-lg w-full font-medium">{{elem.description|truncatechars:150}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
       </div>
    </div>
 </div>

{% endblock %}